/*-- INDEX --*/
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background-color: red;
    left: 0;
    top: 0;
    position: absolute;
    overflow-x: hidden;
    overflow: hidden;
}

a {
    text-decoration: none;
}


.navLogo {
    display: flex;
    position: absolute;
    width: 28%;
    height: 25%;
    top: 0;
    left: 0;
    background-color:;
    z-index: 2;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.navLogoCopy {
    display: flex;
    position: absolute;
    width: 28%;
    height: 25%;
    top: 0%;
    left: 0%;
    z-index: 1; 
    justify-content: center;
    align-items: center;
    background: url(sheets/sko.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    filter: opacity(20%);
}

.navBar {
    display: flex;
    position: absolute;
    width: 37%;
    height: 25%;
    top: 0%;
    left: 28%;
    background-color:;
    z-index: 2; 
    justify-content: center;
    align-items: center;
}

.navBarCopy {
    display: flex;
    position: absolute;
    width: 37%;
    height: 25%;
    top: 0%;
    left: 28%;
    z-index: 1; 
    justify-content: center;
    align-items: center;
    background: url(sheets/new-york.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    filter: opacity(20%);
}

.imgBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    top: 0%;
    z-index: 0;
}

.imgOne {
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    top: 25%;
    background-color: aqua;
    left: 32.5%;
    background: url(sheets/new-macbook-pro-release-date-martin-hajeck_thumb800.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    z-index: 2;
}

.imgOneCopy {
    display: flex;
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    top: 25%;
    background-color: green;
    left: 32.5%;
    z-index: 3;
    filter: opacity(20%);
    color: green;
    align-items: center;
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.imgOneCopy:hover {
    filter: opacity(70%);
    color: white;
}



.imgTwo {
    position: absolute;
    width: 35%;
    height: 50%;
    bottom: 0%;
    left: 65%;
    background: url(sheets/6.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.imgTwoCopy {
    display: flex;
    position: absolute;
    width: 35%;
    height: 50%;
    bottom: 0%;
    left: 65%;
    z-index: 1;
    background-color: deepskyblue;
    filter: opacity(20%);
    color: deepskyblue;
    align-items: center;
    font-size: 2.3vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    text-align: center;
}

.imgTwoCopy:hover {
    filter: opacity(70%);
    color: white;
}


.imgThree {
    position: absolute;
    width: 35%;
    height: 50%;
    bottom: 0%;
    left: 65%;
    top: 0;
    z-index: 1;
    background: url(sheets/microsoft_surface_studio.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.imgThreeCopy {
    display: flex;
    position: absolute;
    width: 35%;
    height: 50%;
    bottom: 0%;
    left: 65%;
    top: 0;
    z-index: 2;
    background-color: red;
    filter: opacity(20%);
    color: red;
    align-items: center;
    font-size: 2.3vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    text-align: center;
}

.imgThreeCopy:hover {
    filter: opacity(70%);
    color: white;
}

.imgFour {
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    left: 0%;
    top: 25%;
    z-index: 1;
    background: url(sheets/cam.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.imgFourCopy {
    display: flex;
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    left: 0%;
    top: 25%;
    z-index: 9;
    background-color: purple;
    filter: opacity(20%);
    color: purple;
    align-items: center;
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    text-align: center;
}

.imgFourCopy:hover {
    filter: opacity(70%);
    color: white;
}

.imgFive {
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    left: 0%;
    top: 62.5%;
    z-index: 1;
    background: url(sheets/Pebble-Steel-2.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.imgFiveCopy {
    display: flex;
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    left: 0%;
    top: 62.5%;
    z-index: 9;
    background-color: darkorange;
    filter: opacity(20%);
    color: darkorange;
    align-items: center;
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    text-align: center;
}

.imgFiveCopy:hover {
    filter: opacity(70%);
    color: white;
}

.imgSix {
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    left: 32.5%;
    top: 62.5%;
    z-index: 1;
    background: url(sheets/1080.JPG);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.imgSixCopy {
    display: flex;
    position: absolute;
    width: 32.5%;
    height: 37.5%;
    left: 32.5%;
    top: 62.5%;
    z-index: 9;
    background-color: fuchsia;
    filter: opacity(20%);
    color: fuchsia;
    align-items: center;
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    text-align: center;
}

.imgSixCopy:hover {
    filter: opacity(70%);
    color: white;
}

#title {
    font-size: 7vw;
    color: white;
    font-family: 'Rock Salt', cursive;
}

.items {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 4vw;
    border: 2px solid white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4%;
    padding-bottom: 4%;  
}

.items:hover {
    background-color: black;
}

a:link {
    text-decoration: none;
}

/*-------------------------------*/
/*BROWSE-------------------------*/
/*-------------------------------*/

#header {
    position: fixed;
    display: flex;
    width: 20%;
    height: 20%;
    top: 0;
    left: 0;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#spaceEmpty {
    position: fixed;
    display: flex;
    width: 80%;
    height: 20%;
    top: 0;
    left: 20%;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#titleTwo {
    font-size: 5vw;
    color: white;
    font-family: 'Rock Salt', cursive;
}

#sideBar {
    position: fixed;
    height: 80%;
    width: 20%;
    left: 0;
    top: 20%;
    background-color: gray;
}

#mainContent {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 20%;
    left: 20%;
}

#sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#browseNav {
    color: white;
    font-size: 3.2vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

#browseNav:hover {
    color: black;
}

#imgAudio {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(sheets/Magnificent-City-Skyline-Wallpaper.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#audioAnchor {
    position: absolute;
    top: -25%;
}

#audioBox {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: dimgray;
    filter: opacity(65%);
    border: 1px solid white;
    
}

#audioBoxCopy {
    position: absolute;
    display: flex;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

#imgParts {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    background: url(sheets/ny.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#partsAnchor {
    position: absolute;
    color: white;
    top: 75%;
}

#partsBox {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: gray;
    filter: opacity(65%);
    border: 1px solid white;
}

#imgMobile {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 200%;
    left: 0;
    background: url(sheets/tor.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#mobileAnchor {
    position: absolute;
    top: 175%;
}

#mobileBox {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: gray;
    filter: opacity(65%);
    border: 1px solid white;
}

#imgLaptops {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 300%;
    left: 0;
    background: url(sheets/curtin-singapore-skyline.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#laptopAnchor {
    position: absolute;
    top: 275%;
}

#laptopBox {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: gray;
    filter: opacity(65%);
    border: 1px solid white;
}

#imgTutorials {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 400%;
    left: 0;
    background: url(sheets/26p0bO.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#tutorialAnchor {
    position: absolute;
    top: 375%;
}

#tutorialBox {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: gray;
    filter: opacity(65%);
    border: 1px solid white;
}

#imgPeriph {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 500%;
    left: 0;
    background: url(sheets/56.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#periphAnchor {
    position: absolute;
    top: 475%;
}

#periphBox {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: gray;
    filter: opacity(65%);
    border: 1px solid white;
}

#list {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    border: 1px solid white;
    padding: 10px;
}

#list:hover{
    background-color: black;
}

#audioNav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 98%;
    height: 100%;
    left: 1%;
    background-color:;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

/*-------------------------------*/
/*-------------------------------*/
/*-------------------------------*/

@media only screen and (max-width: 1172px) {
    .wrapper {
        overflow: hidden;
    }
    
    
    .navLogo {
        width: 50%;
        left: 0;
    }
    
    .navLogoCopy {
        width: 50%;
        left: 0;
    }
    
    .navBar {
        width: 50%;
        left: 50%;
        justify-content: center;
    }
    
    .navBarCopy {
        width: 50%;
        left: 50%;
    }
    
    .imgTwo {
        top: 25%;
        width: 35%;
        height: 37.5%;
    }
    
    .imgTwoCopy {
        top: 25%;
        width: 35%;
        height: 37.5%;    
    }
    
    .imgThree {
        width: 35%;
        height: 37.5%;
        top: 62.5%;
    }
    
    .imgThreeCopy {
        width: 35%;
        height: 37.5%;
        top: 62.5%;
        font-size: 2.3vw;
    }
    
    .imgFourCopy {
        font-size: 2.3vw;
    }
    
    .imgFiveCopy {
        font-size: 2.3vw;
    }
    
    .imgSixCopy {
        font-size: 2.3vw;
    }
    
    /*Browse*/
    
    
/*-------------------------------*/
/*-------------------------------*/
/*-------------------------------*/

@media only screen and (max-width: 708px) {
    .wrapper {
        overflow: scroll;
    }
    
    .navBar {
        height: 15%;
    }
    
    .navBarCopy {
        height: 15%;
    }
    
    .navLogo {
        height: 15%;
    }
    
    .navLogoCopy {
        height: 15%;
    }
    
    .imgOne {
        width: 50%;
        height: 37.5%;
        left: 50%;
        top: 15%;
    }

    .imgOneCopy {
        width: 50%;
        height: 37.5%;
        left: 50%;
        top: 15%;
        font-size: 2.7vw;
    }
    
    .imgTwo {
        width: 50%;
        height: 37.5%;
        left: 0;
        top: 52.5%;
    }
    
    .imgTwoCopy {
        width: 50%;
        height: 37.5%;
        left: 0%;
        top: 52.5%;
        font-size: 2.7vw;
    }
    
    .imgThree {
        width: 50%;
        height: 37.5%;
        top: 90%;
        left: 50%;
    }
    
    .imgThreeCopy {
        width: 50%;
        height: 37.5%;
        top: 90%;
        left: 50%;
        font-size: 2.7vw;
    }
    
    .imgFour {
        width: 50%;
        height: 37.5%;
        top: 15%;
        left: 0;
    }
    
    .imgFourCopy {
        width: 50%;
        height: 37.5%;
        top: 15%;
        left: 0;
        font-size: 2.7vw;
    }
    
    .imgFive {
        width: 50%;
        height: 37.5%;
        top: 52.5%;
        left: 50%;
    }
    
    .imgFiveCopy {
        width: 50%;
        height: 37.5%;
        top: 52.5%;
        left: 50%;
        font-size: 2.7vw;
    }
    
    .imgSix {
        width: 50%;
        height: 37.5%;
        top: 90%;
        left: 0;
    }
    
    .imgSixCopy {
        width: 50%;
        height: 37.5%;
        top: 90%;
        left: 0;
        font-size: 2.7vw;
    }
    
    /*Browse*/
    
    #audio {
        width: 31%;
    }
    
    #audioCopy {
        width: 31%;    
    }
    
    #audioTitle {
        width: 31%;   
    }
    
    #parts {
        left: 34%;
        width: 32%;
    }
    
    #partsCopy {
        left: 34%;
        width: 32%;    
    }
    
    #partsTitle {
        left: 34%;
        width: 32%;
    }
    
    #periph {
        left: 66%;
        width: 31%;
    }

    #periphCopy {
        left: 66%;
        width: 31%;
    }
    
    #periphTitle {
        left: 66%;
        width: 31%;
    }

}

/*-------------------------------*/
/*-------------------------------*/
/*-------------------------------*/

@media only screen and (max-width: 475px) {
    .imgOne {
        width: 100%;
        height: 37.5%;
        left: 0%;
        top: 52.5%;
    }

    .imgOneCopy {
        width: 100%;
        height: 37.5%;
        left: 0%;
        top: 52.5%;
        font-size: 4vw;
        filter: opacity(70%);
        color: white;
    }
    
    .imgTwo {
        width: 100%;
        height: 37.5%;
        left: 0;
        top: 90%;
    }
    
    .imgTwoCopy {
        width: 100%;
        height: 37.5%;
        left: 0%;
        top: 90%;
        font-size: 4vw;
        filter: opacity(70%);
        color: white;
    }
    
    .imgThree {
        width: 100%;
        height: 37.5%;
        top: 202.5%;
        left: 0%;
    }
    
    .imgThreeCopy {
        width: 100%;
        height: 37.5%;
        top: 202.5%;
        left: 0%;
        font-size: 4vw;
        filter: opacity(70%);
        color: white;
    }
    
    .imgFour {
        width: 100%;
        height: 37.5%;
        top: 15%;
        left: 0;
    }
    
    .imgFourCopy {
        width: 100%;
        height: 37.5%;
        top: 15%;
        left: 0;
        font-size: 4vw;
        filter: opacity(70%);
        color: white;
    }
    
    .imgFive {
        width: 100%;
        height: 37.5%;
        top: 127.5%;
        left: 0%;
    }
    
    .imgFiveCopy {
        width: 100%;
        height: 37.5%;
        top: 127.5%;
        left: 0%;
        font-size: 4vw;
        filter: opacity(70%);
        color: white;
    }
    
    .imgSix {
        width: 100%;
        height: 37.5%;
        top: 165%;
        left: 0;
    }
    
    .imgSixCopy {
        width: 100%;
        height: 37.5%;
        top: 165%;
        left: 0;
        font-size: 4vw;
        filter: opacity(70%);
        color: white;
    }
    
    #title {
        font-size: 10vw;
    }
    
    .items {
        font-size: 9vw;
    }
    
    /*Browse*/
    
      
}